<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Bootstrap Core CSS -->
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css">
    <meta charset="UTF-8">
    <title>Konsultasi | Update</title>
  </head>
<body>
  <br>
  <div class="container border">
    <hr><h1 class="text-center">Update Konsultasi</h1><hr>
    <form action="/konsultasi/update" method="POST">
      <div class="form-group col-md-6 offset-md-3">
        <label>ID Konsultasi</label>
        <input type="text" class="form-control" name="id_konsultasi" value="<%= hasil.id_konsultasi %>" readonly required>
      </div>
      <div class="form-group col-md-6 offset-md-3">
        <label>Id Pasien</label>
        <input type="text" class="form-control" name="id_pasien" value="<%= hasil.id_pasien %>" readonly required>
      </div>
      <div class="form-group col-md-6 offset-md-3">
        <label>Id Dokter</label>
        <input type="text" class="form-control" name="id_dokter" value="<%= hasil.id_dokter %>" readonly required>
      </div>
      <div class="form-group col-md-6 offset-md-3">
        <label>Date</label>
        <input type="date" class="form-control" name="tanggal" value="<%= hasil.tanggal %>" required>
      </div>
      <div class="form-group col-md-6 offset-md-3">
        <label>Waktu Mulai</label>
        <input type="time" class="form-control" name="jam_mulai" value="<%= hasil.jam_mulai %>" required>
      </div>
      <div class="form-group col-md-6 offset-md-3">
        <label>Waktu Selesai</label>
        <input type="time" class="form-control" name="jam_selesai" value="<%= hasil.jam_selesai %>" required>
      </div>
      <div class="form-group col-md-6 offset-md-3">
        <label>Pengirim</label>
        <input type="text" class="form-control" name="pengirim" value="<%= hasil.pengirim %>" readonly required>
      </div>
      <div class="form-group col-md-6 offset-md-3">
        <label>Detail</label>
        <input type="text" class="form-control" name="detail" value="<%= hasil.detail %>" readonly required>
      </div>
      <div class="form-group col-md-6 offset-md-3">
        <label>Status</label>
        <select class="form-control" id="status" name="status" required>
          <option value=""></option>
          <option value="Selesai">Selesai</option>
          <option value="Belum Selesai">Belum Selesai</option>
        </select>
      </div>



      <button type="submit" class="btn btn-warning col-md-2 offset-md-5">Ubah Data</button>
      <hr>
    </form>
  </div>
</body>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>
</html>

<script>
  if("<%= hasil.status %>" == "Selesai"){
    document.getElementById("status").selectedIndex = 1;
  }
  else{
    document.getElementById("status").selectedIndex = 2;
  }
</script>