<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Bootstrap Core CSS -->
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css">
    <meta charset="UTF-8">
    <title>Dokter | Update</title>
  </head>
<body>
  <br>
  <div class="container border">
    <hr><h1 class="text-center">Ubah Data Dokter</h1><hr>
    <form action="/dokter/update" method="POST">
      <h4 class="text-center"> Data Pribadi </h4>
      <hr class="col-md-6 offset-md-3">
      <div class="form-group col-md-6 offset-md-3">
        <label>Username</label>
        <input type="text" class="form-control" name="username" value="<%= hasil.username %>" readonly>
      </div>
      <div class="form-group col-md-6 offset-md-3">
        <label>Nama</label>
        <input type="text" class="form-control" name="name" value="<%= hasil.name %>">
      </div>
      <div class="form-group col-md-6 offset-md-3">
        <label>No. Telp</label>
        <input type="number" class="form-control" name="telepon" value="<%= hasil.telepon %>">
      </div>
      <div class="form-group col-md-6 offset-md-3">
        <label>Alamat Email</label>
        <input type="email" class="form-control" name="email" value="<%= hasil.email %>">
      </div>

      <h4 class="text-center"> Alamat Praktik </h4>
      <hr class="col-md-6 offset-md-3">
      <div class="form-group col-md-6 offset-md-3">
        <label>Provinsi</label>
        <input type="text" class="form-control" name="provinsiP" value="<%= hasil.alamat.praktik.provinsi %>">
      </div>
      <div class="form-group col-md-6 offset-md-3">
        <label>Kota</label>
        <input type="text" class="form-control" name="kotaP" value="<%= hasil.alamat.praktik.kota %>">
      </div>
      <div class="form-group col-md-6 offset-md-3">
        <label>Kecamatan</label>
        <input type="text" class="form-control" name="kecP" value="<%= hasil.alamat.praktik.kec %>">
      </div>
      <div class="form-group green-border-focus col-md-6 offset-md-3">
        <label>Detail Tambahan</label>
        <textarea class="form-control" name="detailP" rows="3"><%= hasil.alamat.praktik.detail %></textarea>
      </div>
      <div class="form-group col-md-6 offset-md-3">
        <label>Kode Pos</label>
        <input type="number" class="form-control" name="kode_posP" value="<%= hasil.alamat.praktik.kode_pos %>">
      </div>
      
      <h4 class="text-center"> Alamat Pribadi </h4>
      <hr class="col-md-6 offset-md-3">
      <div class="form-group col-md-6 offset-md-3">
        <label>Provinsi</label>
        <input type="text" class="form-control" name="provinsi" value="<%= hasil.alamat.tinggal.provinsi %>">
      </div>
      <div class="form-group col-md-6 offset-md-3">
        <label>Kota</label>
        <input type="text" class="form-control" name="kota" value="<%= hasil.alamat.tinggal.kota %>">
      </div>
      <div class="form-group col-md-6 offset-md-3">
        <label>Kecamatan</label>
        <input type="text" class="form-control" name="kec" value="<%= hasil.alamat.tinggal.kec %>">
      </div>
      <div class="form-group green-border-focus col-md-6 offset-md-3">
        <label>Detail Tambahan</label>
        <textarea class="form-control" name="detail" rows="3"><%= hasil.alamat.tinggal.detail %></textarea>
      </div>
      <div class="form-group col-md-6 offset-md-3">
        <label>Kode Pos</label>
        <input type="number" class="form-control" name="kode_pos" value="<%= hasil.alamat.tinggal.kode_pos %>">
      </div>

      <h4 class="text-center"> Data Detail </h4>
      <hr class="col-md-6 offset-md-3">
      <div class="form-group col-md-6 offset-md-3">
        <label>Spesialis</label>
        <select class="form-control" id="spesialis" name="spesialis" required>
          <option value=""></option>
          <option value="Kulit">Kulit</option>
          <option value="Mata">Mata</option>
          <option value="THT">THT</option>
          <option value="OrganDalam">Organ Dalam</option>
          <option value="Kecantikan">Kecantikan</option>
        </select>
      </div>
      <div class="form-group col-md-6 offset-md-3">
        <label>Surat Tanda Registrasi Dokter</label>
        <input type="text" class="form-control" name="str" value="<%= hasil.str %>" readonly>
      </div>
      <div class="form-group col-md-6 offset-md-3">
        <label>Saldo</label>
        <input type="number" class="form-control" name="saldo" value="<%= hasil.saldo %>">
      </div>
      <div class="form-group col-md-6 offset-md-3">
        <label>Status</label>
        <select class="form-control" id="status" name="status" required>
          <option value=""></option>
          <option value="Aktif">Aktif</option>
          <option value="TidakAktif">Tidak Aktif</option>
        </select>
      </div>
      <div class="form-group col-md-6 offset-md-3">
        <label>Kode Pos</label>
        <input type="number" class="form-control" name="harga" value="<%= hasil.harga %>">
      </div>
      
      <button type="submit" class="btn btn-primary col-md-2 offset-md-5">Masuk</button>
      <br>
    </form>
    <br>
  </div>
  <br>
</body>
</html>